$mainTextColor: black; /* #007bff */
$ligneColor: #2c3e50;

.header .top {
    margin: 15px 0;
}

.header .top .nomPrenom a {
    font-size: 30px;
    font-weight: 700;
    vertical-align: middle;
    color: $mainTextColor;
    outline: 0;
}

.header .top .nomPrenom a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}



/* menu */
.menu {
	border-top: 1px dashed $ligneColor;
    border-bottom: 1px dashed $ligneColor;
}

.menu ul {
	padding: 0;
}

.menu .itemMenu {
	display: inline-block;
	margin: 15px 20px;
}

.menu .itemMenu * {
    outline: none;
    text-decoration: none;
    color: $mainTextColor;
}

.menu .itemMenu a:hover {
	font-weight: bold;
	text-decoration: none;
}

.menu .itemMenu .active {
	font-weight: bold;
}



/* page */
.container {
    padding-bottom: 30px;
}

img.imgResized {
    max-height: 150px;
    width: auto;
}



/* footer */
.footer {
    margin: 15px 0;
    padding-top: 10px;
    border-top: 1px dashed $ligneColor;
}



/* animations */
/* left */
.fade-left-enter-active {
    animation: 1s ease 0s 1 fadeLeft;
}

@keyframes fadeLeft {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.fade-left-leave {
    animation: 1s ease 0s 1 fadeLeftLeave;
}

@keyframes fadeLeftLeave {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    100% {
        transform: translateX(-40px);
        opacity: 0;
    }
}


/* right */
.fade-right-enter-active {
    animation: 1s ease 0s 1 fadeRight;
}

@keyframes fadeRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.fade-right-leave {
    animation: 1s ease 0s 1 fadeRightLeave;
}

@keyframes fadeRightLeave {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    100% {
        transform: translateX(40px);
        opacity: 0;
    }
}

/* fade */
.fade-enter-active {
    animation: 1.2s ease 0s 1 fade;
}

.fadeCV-enter-active {
    animation: 1.5s ease 0s 1 fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.fade-leave {
    animation: 1.2s ease 0s 1 fadeLeave;
}

.fadeCV-leave {
    animation: 1.5s ease 0s 1 fadeLeave;
}

@keyframes fadeLeave {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}